# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda/
ds_course/

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
# We allow syncing workspace settings and the workspace file itself
!.vscode/settings.json
!.vscode/extensions.json
!*.code-workspace
.vscode/*

# Jupyter Notebook
.ipynb_checkpoints
